<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anti_scam_ai">

    <application
        android:label="anti_scam_ai"
        tools:replace="android:label"
        android:icon="@mipmap/ic_launcher">
        <!-- Your application settings here -->
    </application>

</manifest>
